* { /* everything */
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}


/* ----FOOTER--------------------------------------------------------------- */
footer {
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  background: #1111118b;
  /* height: 7vh; */
  width: 100vw;
}