* { /* everything */
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #ffffff;
  text-align: center;
}

.outer-display-box {
  position: relative;
  width: 90vw;
  background-color: #1e1e1e;
  margin-top: 3%;
  padding-bottom: 1.5%;
}
.outer-display-box a {
  color: #c28943;
  text-decoration: none;
}
.inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40px;
}
.star-system {
  width: 150px;
  margin: 10px;
  border: 1px solid #313131;
  padding: 10px;
}

.content-box-title{
  background-color: #313131;
  width: 90vw;
  height: 5vh;
  display: flex;
  justify-content:center;
}

.logout-delete {
  margin: 70px;
}
.logout-delete button {
  margin: 30px;
  padding: 5px;
  cursor: pointer;
}
/* ---PLANETs-------------------------------------------------------- */
.planet-div {
  max-width: 500px;
  margin: 1%;
  border: 1px solid #7b7b7b;
  padding: 10px;

}
.planet-div:hover,
.planet-div p:hover,
.planet-div p.open {
  cursor: pointer;
  color: #ffffff79;
  background-color:#161616;
}

/* ---NOTES--------------------------------------------------------------- */
.note-container {
  position: relative;
  border: 1px solid #0b0b0b;
  padding: 1%;
  background-color: #151515;
  width: 93%;
  font-size: 16px;
  margin: 2%;
  margin-bottom: 1%;
}
.note-container pre,
.note-container textarea {
  width: 100%;
  min-height: 50px;
  color: #ddd6ce;
  background-color: #151515;
  text-align: left;
}
.edit-button,
.save-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9d958b;
  padding: 2px;
}
/*----PLANET PREVIEW IMAGES-----------------------------------------------*/
.image-container {
  display: flex;
  flex-wrap: wrap;
  overflow: 'auto';
  margin: 0px 20px 0px 20px;
  /* max-width: '200px'; */
}

.image-container img {
  width: auto;
  height: 200px;
  margin: 5px;
}
.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#add-images{
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
#add-images p {
  margin-right: 10px;
  font-size: 20px;
  color: #9c9c9c;
}

/* ---GALLERY------------------------------------------------------------- */
/* .gallery-image-container{
  display: flex;
}
.gallery-image-container div{
  margin: 1%;
} */

/* ----FOOTER--------------------------------------------------------------- */
footer {
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  font-size: 1vh;
  width: 100vw;
  color: #707070;
}