* { /* everything */
  margin: 0;
  padding: 0;
  border: 0;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.outer-display-box {
  position: relative;
  width: 90vw;
  background-color: #1e1e1e;
  margin-top: 3%;
  padding-bottom: 1.5%;
}
.outer-display-box a {
  color: #c28943;
  text-decoration: none;
}
.inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  margin-top: 40px;
}
.star-system {
  width: 150px;
  margin: 10px;
  border: 1px solid #313131;
  padding: 10px;
}

.content-box-title{
  background-color: #313131;
  width: 90vw;
  height: 5vh;
  display: flex;
  justify-content:space-between;
}

.image-filter-button{
  display: flex;
  justify-content: right;
}
/* ---PLANETs-------------------------------------------------------- */
.planet {
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
.add-planet-button{
  position: absolute;
  top: 5vh;
  right: 0;
}
/* ---NOTES--------------------------------------------------------------- */
.note-container {
  position: relative;
  border: 1px solid #0b0b0b;
  padding: 10px;
  background-color: #151515;
  width: 40%;
  font-size: 16px;
}
.note-container pre,
.note-container textarea {
  width: 100%;
  color: #ddd6ce;
  background-color: #151515;
  text-align: left;
}
.edit-button,
.save-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* ---GALLERY------------------------------------------------------------- */
.gallery-image-container{
  display: flex;
  /* justify-content:flex-start; */
}
.gallery-image-container div{
  margin: 1%;
}


/* ----FOOTER--------------------------------------------------------------- */
footer {
  position: fixed;
  bottom: 0%;
  display: flex;
  justify-content: center;
  font-size: 3vh;
  background: #1111118b;
  /* height: 7vh; */
  width: 100vw;
}